" jj key is <Esc> setting
inoremap jj <Esc>

" go to last "(" with this  
nnoremap , ?(<cr>

" go to next "(" with this  
nnoremap . /(<cr>

" go down 10 lines with shift-j 
nnoremap <s-j> 10j

" go up 10 lines with shift-k 
nnoremap <s-k> 10k

" for easier jump point use
nnoremap <space> '

" go to the next tab
nnoremap <s-l> gt

" go to the last tab
nnoremap <s-h> gT

" go to start of line
nnoremap ; ^

